Playbooks/Get-BlobStorageCSVtoGraphSecTIv1/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-BlobStorageCSVtoGraphSecTIv1",
            "type": "string"
        },
        "UserName": {
            "defaultValue": "<username>@<domain>",
            "type": "string"
        },
        "Sentinel Resource Group": {
            "defaultValue": "",
            "type": "string"
        },
        "Sentinel Workspace": {
            "defaultValue": "",
            "type": "string"
        }
    },
    "variables": {
        "AzureMonitorConnectionName": "[concat('azuremonitorlogs-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureMonitorConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('UserName')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureMonitorConnectionName'))]"
            ],
            "properties": {
                "state": "Disabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "recurrence": {
                                "frequency": "Day",
                                "interval": 1
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "App_Registration_AppSecret": {
                            "runAfter": {
                                "App_Registration_ClientID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "AppSecret",
                                        "type": "string",
                                        "value": "ADD YOUR OWN VALUE"
                                    }
                                ]
                            }
                        },
                        "App_Registration_ClientID": {
                            "runAfter": {
                                "TenantID": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "ClientID",
                                        "type": "string",
                                        "value": "ADD YOUR OWN VALUE"
                                    }
                                ]
                            }
                        },
                        "Default_Provider_Confidence_Score_(0-100)": {
                            "runAfter": {
                                "Default_Record_Expiration_-_Record_Retention_Days": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "confidence",
                                        "type": "integer",
                                        "value": 50
                                    }
                                ]
                            }
                        },
                        "Default_Record_Expiration_-_Record_Retention_Days": {
                            "runAfter": {
                                "App_Registration_AppSecret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "KeepForDays",
                                        "type": "integer",
                                        "value": 365
                                    }
                                ]
                            }
                        },
                        "For_each_IOC": {
                            "foreach": "@body('Parse_JSON_-_Create_parameters_from_CSV')",
                            "actions": {
                                "Switch": {
                                    "runAfter": {},
                                    "cases": {
                                        "Process_Domain_records": {
                                            "case": "Domain",
                                            "actions": {
                                                "HTTP6": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "domainName": "@{items('For_each_IOC')['domainName']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_Email_Address_records": {
                                            "case": "Email",
                                            "actions": {
                                                "HTTP7": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "emailSenderAddress": "@{items('For_each_IOC')['emailSenderAddress']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_IPv4_records": {
                                            "case": "IPv4",
                                            "actions": {
                                                "HTTP1": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "networkIPv4": "@{items('For_each_IOC')['networkIPv4']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_URL_and_URI_records": {
                                            "case": "URL",
                                            "actions": {
                                                "HTTP2": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}",
                                                            "url": "@{items('For_each_IOC')['url']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_file_has_MD5_records": {
                                            "case": "md5",
                                            "actions": {
                                                "HTTP3": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "IP": "0.0.0.0",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "fileHashType": "md5",
                                                            "fileHashValue": "@{items('For_each_IOC')['fileHashValue']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_file_has_SHA1_records": {
                                            "case": "sha1",
                                            "actions": {
                                                "HTTP4": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "IP": "0.0.0.0",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "fileHashType": "sha1",
                                                            "fileHashValue": "@{items('For_each_IOC')['fileHashValue']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        },
                                        "Process_file_has_SHA256_records": {
                                            "case": "sha256",
                                            "actions": {
                                                "HTTP5": {
                                                    "runAfter": {},
                                                    "type": "Http",
                                                    "inputs": {
                                                        "authentication": {
                                                            "audience": "https://graph.microsoft.com",
                                                            "clientId": "@variables('ClientID')",
                                                            "secret": "@variables('AppSecret')",
                                                            "tenant": "@variables('Tenant')",
                                                            "type": "ActiveDirectoryOAuth"
                                                        },
                                                        "body": {
                                                            "FileCreatedDateTime": " @{utcNow()}",
                                                            "IP": "0.0.0.0",
                                                            "action": "@{items('For_each_IOC')['action']}",
                                                            "activityGroupNames": "@{items('For_each_IOC')['activityGroupNames']}",
                                                            "additionalInformation": "@{items('For_each_IOC')['additionalInformation']}",
                                                            "confidence": "@variables('confidence')",
                                                            "description": "@{items('For_each_IOC')['description']}",
                                                            "expirationDateTime": "@{addDays(utcNow(), variables('KeepForDays'))}",
                                                            "externalId": "@{items('For_each_IOC')['externalId']}",
                                                            "fileHashType": "sha256",
                                                            "fileHashValue": "@{items('For_each_IOC')['fileHashValue']}",
                                                            "indicatorProvider": "@{items('For_each_IOC')['indicatorProvider']}",
                                                            "killChain": "@{items('For_each_IOC')['killChain']}",
                                                            "malwareFamilyNames": "@{items('For_each_IOC')['malwareFamilyNames']}",
                                                            "severity": "@{items('For_each_IOC')['severity']}",
                                                            "tags": "@{items('For_each_IOC')['tags']}",
                                                            "targetProduct": "@{items('For_each_IOC')['targetProduct']}",
                                                            "threatType": "@{items('For_each_IOC')['threatType']}",
                                                            "tlpLevel": "@{items('For_each_IOC')['tlpLevel']}"
                                                        },
                                                        "headers": {
                                                            "content-type": "application/json"
                                                        },
                                                        "method": "POST",
                                                        "uri": "https://graph.microsoft.com/beta/security/tiIndicators"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {}
                                    },
                                    "expression": "@items('For_each_IOC')['indicatorType']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON_-_Create_parameters_from_CSV": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Get_CSV_using_Log_Analytics": {
                            "runAfter": {
                                "Set_JSON-style_column_list": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": "externaldata (@{variables('columnNames')})[@\"https://threatintellcsv.blob.core.windows.net/csvinput/TI_Indicator_Sample.csv?sp=r&st=2021-08-01T18:57:26Z&se=2021-08-02T02:57:26Z&spr=https&sv=2020-08-04&sr=b&sig=de8nh0%2Fg734tiCNm3Lhg95smevFXQJN5AGk8mSGa9hU%3D\"] with (ignoreFirstRecord=true)",
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuremonitorlogs']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/queryData",
                                "queries": {
                                    "resourcegroups": "[parameters('Sentinel Resource Group')]",
                                    "resourcename": "[parameters('Sentinel Workspace')]",
                                    "resourcetype": "Log Analytics Workspace",
                                    "subscriptions": "[subscription().subscriptionId]",
                                    "timerange": "Last 7 days"
                                }
                            }
                        },
                        "Parse_JSON_-_Create_parameters_from_CSV": {
                            "runAfter": {
                                "Get_CSV_using_Log_Analytics": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@body('Get_CSV_using_Log_Analytics')?['value']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "FileCreatedDateTime": {},
                                            "action": {
                                                "type": "string"
                                            },
                                            "activityGroupNames": {
                                                "type": "string"
                                            },
                                            "additionalInformation": {
                                                "type": "string"
                                            },
                                            "confidence": {},
                                            "description": {
                                                "type": "string"
                                            },
                                            "domainName": {
                                                "type": "string"
                                            },
                                            "emailSenderAddress": {
                                                "type": "string"
                                            },
                                            "expirationDateTime": {},
                                            "externalId": {
                                                "type": "string"
                                            },
                                            "fileHashValue": {
                                                "type": "string"
                                            },
                                            "indicatorProvider": {
                                                "type": "string"
                                            },
                                            "indicatorType": {
                                                "type": "string"
                                            },
                                            "killChain": {
                                                "type": "string"
                                            },
                                            "malwareFamilyNames": {
                                                "type": "string"
                                            },
                                            "networkIPv4": {
                                                "type": "string"
                                            },
                                            "severity": {
                                                "type": "integer"
                                            },
                                            "tags": {
                                                "type": "string"
                                            },
                                            "targetProduct": {
                                                "type": "string"
                                            },
                                            "threatType": {
                                                "type": "string"
                                            },
                                            "tlpLevel": {
                                                "type": "string"
                                            },
                                            "url": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "indicatorType",
                                            "fileHashValue",
                                            "emailSenderAddress",
                                            "networkIPv4",
                                            "url",
                                            "domainName",
                                            "FileCreatedDateTime",
                                            "action",
                                            "activityGroupNames",
                                            "additionalInformation",
                                            "confidence",
                                            "description",
                                            "expirationDateTime",
                                            "externalId",
                                            "indicatorProvider",
                                            "killChain",
                                            "malwareFamilyNames",
                                            "severity",
                                            "tags",
                                            "targetProduct",
                                            "threatType",
                                            "tlpLevel"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        },
                        "Set_JSON-style_column_list": {
                            "runAfter": {
                                "Default_Provider_Confidence_Score_(0-100)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "columnNames",
                                        "type": "string",
                                        "value": "indicatorType:string, fileHashValue:string, emailSenderAddress:string, networkIPv4:string, url:string, domainName:string, FileCreatedDateTime:datetime, action:string, activityGroupNames:string, additionalInformation:string, confidence:int, description:string, expirationDateTime:datetime, externalId:string, indicatorProvider:string, killChain:string, malwareFamilyNames:string, severity:int, tags:string, targetProduct:string, threatType:string, tlpLevel:string"
                                    }
                                ]
                            }
                        },
                        "TenantID": {
                            "runAfter": {},
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "Tenant",
                                        "type": "string",
                                        "value": "ADD YOUR OWN VALUE"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuremonitorlogs": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureMonitorConnectionName'))]",
                                "connectionName": "[variables('AzureMonitorConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuremonitorlogs')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}